---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
---

<section class="space-y-6 py-12 sm:py-20 lg:py-20">
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
      <span class="text-gradient_indigo-purple font-extrabold">
        Welcome To My Blog
      </span>
    </h1>

    <p
      class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8"
    >
      Build your next project using Next.js 14, Prisma, Planetscale, Auth.js v5,
      Resend, React Email, Shadcn/ui, Stripe.
    </p>
      </p>
      </a>
    </div>
  </div>
</section>
