---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";

const examples = navMenuConfig.examplesNav[0].items;
const pages = navMenuConfig.pagesNav[0].items;
---

<MainLayout title="">
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Welcome/Sugeng Rawuh"
        text="I am a computer science student and also a cat lover; passionate and meticulous, with a strong dedication to software development."
      />

      <ExampleGrid title="Pages" items={pages} />
      <ExampleGrid title="Examples Apps" items={examples} />
    </section>
  </div>
</MainLayout>
